/* CLICK */
#father {
    z-index: 99999999;
}

#app {
    display: none;
    margin: 0;
    padding: 0;
}
#checkedView {
    display: none;
}
#checkedView:checked ~ #father {
    display: none;
}
#checkedView:checked ~ #app {
    display: flex;
}


#father {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-content: center;
    background-color: var(--background-footer_hover);
}
#father:hover {
    cursor: pointer;
}

.overlay{
    width: fit-content;
    /* font-family: "Source Sans Pro", sans-serif; */
    text-align: center;
}

.introduction{
    font-size: clamp(1rem, 3vw + 1rem, 4rem);  
    /* font-family: 'IBM Plex Mono', monospace; */
    position: relative;
    width: max-content;
    color: var(--text);
    text-align: center;
    margin: auto;
}
.introduction::before,
.introduction::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.introduction::before {
    background-color: var(--background-footer_hover);
    animation: typeWriter 2s
      steps(17) forwards;
}
.introduction::after {
    width: 0.125em;
    background: var(--text);
    animation: 
    typeWriter 2s steps(17) forwards,
    blink 750ms steps(17) infinite;
}

@keyframes typeWriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

.subtitle {
    /* font-family: 'Josefin Slab', serif; */
    font-size : clamp(1rem, 3vw + 0.5rem, 2.6rem);
    font-weight: 600;
    color: var(--text-title);
    opacity: 0;
    transform: translateY(10rem);
    animation: fadeInUp 2s ease 2s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.instruction {
    font-size: clamp(0.5rem, 3vw + 0.5rem, 1.2rem);
    color: rgb(214, 57, 78);
    opacity: 0;
    animation: 
    appear 0.5s linear 3s forwards,
    changeColorText 1s linear infinite;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@keyframes changeColorText {
    to {
       color: var(--logo);
    }
}


